
git+https://github.com/allenai/allennlp@master
git+https://github.com/allenai/allennlp-reading-comprehension@c241f324e8a5af5197808b0f6dc629f1513add54

# Accessing files from S3 directly.
boto3

# REST interface for models
flask>=1.0.2
flask-cors>=3.0.7
gevent>=1.3.6

# Used for generating doc comments
numpydoc>=0.8.0
